<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Daeuk Kim</title>
  <link rel="icon" href="../image/title_logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="stylesheet" href="../style/swiper-bundle.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>


<div id="contactBox" class="contact-box">
  <div class="contact-header">
    <img src="../image/contact_logo.png" alt="Contact Logo" />
    <span class="contact-label">Contact</span>
  </div>

  <div id="contactOptions" class="contact-options">
     <div class="contact-option">
    <a href="tel:6478793598">
      <img src="../image/phone.svg" alt="Phone Icon" />
      &nbsp;Phone Call
    </a>
    <a href="mailto:a24738598@gmail.com">
      <img src="../image/mail.svg" alt="Email Icon" />
       &nbsp;Send Email
    </a>
    <a href="contact.html">Contact in Detail</a>
  </div>
  </div>
</div>

<body class="academic-history">
  <header>
      <div class="navbar-container">
    <div class="navbar">
      <div class="logo ultra-regular">
        <a href="daeuk.html">
          <img src="../image/title_logo.png" alt="DK Logo" />
        </a>
      </div>
      
      <nav>
        <ul class="nav-links left-menu">
          <li><a href="daeuk.html" >About</a></li>
          <li><a href="course.html"class="active">Personal History</a></li>
          <li><a href="skills.html">Skills</a></li>
          <li><a href="project.html">Projects</a></li>
        </ul>
      </nav>
      
      <nav>
        <ul class="nav-links right-menu">
          <li><a href="contact.html" class="contact-link">Contact Me</a></li>
        </ul>
      </nav>
      </div>
    </div>
  </header>

 <main>
  <div class="main-wrapper sr-fade">

    <!-- Education Section -->
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-bottom: 40px;">
      <div class="noto-serif-28pt" style="line-height: 0.5; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Education
      </div>
      <div style="font-size: 20px; line-height: 1; text-align: center;">___________________</div>
      <div style="margin-top: 10px; display: flex; gap: 10px; align-items: center; opacity: 0.5; font-size: 14px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
    </svg>
    <span>My Academic History</span>
  </div>
    </div>
<div class="fade-in">
    <!-- School Info Section -->
    <div style="display: flex; justify-content: center;">
      <div style="display: flex; align-items: flex-start; gap: 32px; text-align: left;">
        <!-- School Logo -->
        <img src="../image/seneca_logo.png" alt="Seneca Logo"
             style="width: 60px; height: 60px; object-fit: contain; margin-top: 10px;" />

        <!-- School Text -->
        <div class="times-regular-10pt">
          <div class="times-regular-14pt" style="margin-bottom: 12px;">
            Seneca Polytechnic, Toronto, ON
          </div>
          CPP (Computer Programming Diploma)<br />
          May, 2023 ~ Aug, 2024
        </div>
      </div>
      </div>
    </div>

    <!-- Course & Grade Section -->
       <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 200px;">
      <div class="noto-serif-28pt" style="line-height: 0.5; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Course & Grade
      </div>
      <div style="font-size: 20px; line-height: 1; text-align: center;">_____________________________</div>
      <div style="margin-top: 10px; display: flex; gap: 10px; align-items: center; opacity: 0.5; font-size: 14px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backpack" viewBox="0 0 16 16">
  <path d="M4.04 7.43a4 4 0 0 1 7.92 0 .5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14M4 9.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm1 .5v3h6v-3h-1v.5a.5.5 0 0 1-1 0V10z"/>
  <path d="M6 2.341V2a2 2 0 1 1 4 0v.341c2.33.824 4 3.047 4 5.659v5.5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5V8a6 6 0 0 1 4-5.659M7 2v.083a6 6 0 0 1 2 0V2a1 1 0 0 0-2 0m1 1a5 5 0 0 0-5 5v5.5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5V8a5 5 0 0 0-5-5"/>
</svg>
    <span>My Academic Record</span>
    </div>
      <div class="fade-in">
    <div class="course-section">
  <div class="course-header">
    <div class="times-regular-14pt">
    <div class="school-name"><b>[Seneca College]</b></div></div>
    <button id="toggleCourseBtn">Whole/Main Course</button>
  </div>
  <div class="course-header-row">
  <div class="col code">Code</div>
  <div class="col course-name">Course Name</div>
  <div class="col term">Term</div>
  <div class="col grade">Grade</div>
</div>
  <div id="courseList" class="course-list"></div>
</div>
</div>
   


<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 200px;">
      <div class="noto-serif-28pt" style="line-height: 0.5; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Awards
      </div>
      <div style="font-size: 20px; line-height: 1; text-align: center;">________________</div>
      <div style="margin-top: 10px; display: flex; gap: 10px; align-items: center; opacity: 0.5; font-size: 14px;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
      <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702z"/>
    </svg>
    <span>President Honour List</span>
    </div>
  <div class="fade-in">
   <div class="honouring-row">
  <div class="frame-container">
    <img src="../image/frame.png" class="frame" />
    <img src="../image/honorlist/Summer,2023.jpg" class="inner-photo" />
  </div>
  <div class="frame-container">
    <img src="../image/frame.png" class="frame" />
    <img src="../image/honorlist/Fall,2023.jpg" class="inner-photo" />
  </div>
  <div class="frame-container">
    <img src="../image/frame.png" class="frame" />
    <img src="../image/honorlist/Winter,2024.jpg" class="inner-photo" />
  </div>
</div>
</div>



<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 200px;">
      <div class="noto-serif-28pt" style="line-height: 0.5; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Work Experience
      </div>
      <div style="font-size: 20px; line-height: 1; text-align: center;">________________________________</div>
      <div style="margin-top: 10px; display: flex; gap: 10px; align-items: center; opacity: 0.5; font-size: 14px;">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg>
    <span>My Past Experience</span>
    </div>
      <div class="fade-in">
    <div class="times-regular-10pt">
          <div class="times-regular-14pt" style="margin-top: 30px;">
           &#183; Peer Tutor (Volunteer)
          </div>
          Tutored peers in programming; held simple sessions - one or twice a week,<br> reviewed assignments, Provide concept note for understanding.<br>
          Dec, 2023 - Apr, 2024
          <br><br><br>
          <b>More experiences coming soon................</b>
        </div>
  </div>
  </div>
    <div style="
    padding-top: 80px;
    bottom: 8px;
    right: 8px;
    font-size: 10px;
    color: rgb(196, 47, 10);
    user-select: none;
    pointer-events: none;
  ">
    Note: The "Main Course" view sometimes hides my work experience contents; if then please switch to "Whole Course" to see this contents. (whole/main course button)
  </div>


</main>


  <footer>
    <p>&copy; Daeuk Kim. All rights reserved | a24738598@gmail.com</p>
  </footer>

    <script>
           const contactBox = document.getElementById("contactBox");
           contactBox.addEventListener("click", function () {
    contactBox.classList.toggle("open");
  });
 
ScrollReveal().reveal('.fade-in', {
  duration: 5000,
  delay: 100,
  opacity: 0,
  easing: 'ease-out',
  reset: true,
  distance: '0px' 
});


  window.addEventListener('scroll', function () {
  const navbarContainer = document.querySelector('.navbar-container');
  if (window.scrollY > 0) {
    navbarContainer.classList.add('scrolled');
  } else {
    navbarContainer.classList.remove('scrolled');
  }
});const courseData = [{"course" : [{
    "id" : 1,
    "key" : "Aps145",
    "fullName" : "Applied Problem Solving",
    "grade" : "A+",
    "term" : "Summer, 2023",
    "semester" : 1
},
{
    "id" : 2,
    "key" : "COM111",
    "fullName" : "Comm Across Contexts (Enrich)",
    "grade" : "A+",
    "term" : "Summer, 2023",
    "semester" : 1
},
{
    "id" : 3,
    "key" : "CPR101",
    "fullName" : "Comp. Principle for Programmer",
    "grade" : "A",
    "term" : "Summer, 2023",
    "semester" : 1
},
{
    "id" : 4,
    "key" : "IPC144",
    "fullName" : "Intro to Programming Using C",
    "grade" : "A+",
    "term" : "Summer, 2023",
    "semester" : 1,
    "KeyCourse" : true
},
{
    "id" : 5,
    "key" : "ULI101",
    "fullName" : "Intro Unix/Linux and Internet",
    "grade" : "A+",
    "term" : "Summer, 2023",
    "semester" : 1,
    "KeyCourse" : true
},
{
    "id" : 6,
    "key" : "DBS221",
    "fullName" : "Intro to Database System",
    "grade" : "A+",
    "term" : "Fall, 2023",
    "semester" : 2,
    "KeyCourse" : true
},{
    "id" : 7,
    "key" : "Flm 278",
    "fullName" : "Introduction to Film Studies",
    "grade" : "A",
    "term" : "Fall, 2023",
    "semester" : 2
},{
    "id" : 8,
    "key" : "OOP224",
    "fullName" : "Object Oriented Programming",
    "grade" : "A",
    "term" : "Fall, 2023",
    "semester" : 2,
    "KeyCourse" : true
},{
    "id" : 9,
    "key" : "SFT221",
    "fullName" : "Software Testing",
    "grade" : "A+",
    "term" : "Fall, 2023",
    "semester" : 2
},{
    "id" : 10,
    "key" : "WEB222",
    "fullName" : "Web Programming Principles",
    "grade" : "A+",
    "term" : "Fall, 2023",
    "semester" : 2,
    "KeyCourse" : true
},{
    "id" : 11,
    "key" : "DBS311",
    "fullName" : "Advanced Database Services",
    "grade" : "A+",
    "term" : "Winter, 2024",
    "semester" : 3,
    "KeyCourse" : true
},{
    "id" : 12,
    "key" : "OOP345",
    "fullName" : "Software Development Using C++",
    "grade" : "A+",
    "term" : "WInter, 2024",
    "semester" : 3,
    "KeyCourse" : true
},{
    "id" : 13,
    "key" : "Psy172",
    "fullName" : "Group Dynamics",
    "grade" : "A+",
    "term" : "WInter, 2024",
    "semester" : 3
},{
    "id" : 14,
    "key" : "SYD366",
    "fullName" : "Software Analysis and Design I",
    "grade" : "A",
    "term" : "WInter, 2024",
    "semester" : 3
},{
    "id" : 15,
    "key" : "WEB322",
    "fullName" : "Web Prog. Tools and Frameworks",
    "grade" : "A+",
    "term" : "WInter, 2024",
    "semester" : 3,
    "KeyCourse" : true
},{
    "id" : 16,
    "key" : "DSA456",
    "fullName" : "Data Structires amd Algorithms",
    "grade" : "B",
    "term" : "Summer, 2024",
    "semester" : 4,
    "KeyCourse" : true
},{
    "id" : 17,
    "key" : "EAC273",
    "fullName" : "Children's Literacture",
    "grade" : "A+",
    "term" : "Summer, 2024",
    "semester" : 4
},{
    "id" : 18,
    "key" : "EAC594",
    "fullName" : "Comm Digital Workplace",
    "grade" : "A+",
    "term" : "Summer, 2024",
    "semester" : 4
},{
    "id" : 19,
    "key" : "MST300",
    "fullName" : "Intro to MS Cloud Technologies",
    "grade" : "A+",
    "term" : "Summer, 2024",
    "semester" : 4,
    "KeyCourse" : true
},{
    "id" : 20,
    "key" : "PMC444",
    "fullName" : "IT Project Mgmt Fundamentals",
    "grade" : "A+",
    "term" : "Summer, 2024",
    "semester" : 4
},{
  "key" : "GPA",
  "fullName" : " ",
    "grade" : "4.0",
    "term" : " ",
}]
}];

const courseList = document.getElementById("courseList");
const toggleBtn = document.getElementById("toggleCourseBtn");

function renderCourses(showAll = false) {
  courseList.innerHTML = "";
  const courseArray = courseData[0].course;  

  courseArray.forEach(course => {
    const isKey = course.KeyCourse;
    if (!showAll && !isKey) return;

    const div = document.createElement("div");
    div.className = `course-item ${isKey ? "key-course" : "normal-course"}`;
    div.style.display = (showAll || isKey) ? "grid" : "none";
    div.innerHTML = `
      <div>${course.key}</div>
      <div>${course.fullName}</div>
      <div>${course.term}</div>
      <div>${course.grade}</div>
    `;
    courseList.appendChild(div);
  });
}


let isAllShown = false;
toggleBtn.addEventListener("click", () => {
  isAllShown = !isAllShown;
  toggleBtn.textContent = isAllShown ? "Whole Course" : "Main Course" ;
  renderCourses(isAllShown);
});

renderCourses(true);
    </script>
    </body>
    </html>